
<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
        <app-big-card
        id="0"
        photoCover="assets/imgs/img_big_card_001.png"
        cardTitle="“CATCH A FIRE”, DE BOB MARLEY, COMPLETA 50 ANOS E GANHA EDIÇÃO DELUXE"
        cardDescription="Considerado o álbum que colocou o reggae mundo, “Catch A Fire” celebrou, na última sexta-feira (3), os 50 anos do seu lançamento. Sendo o quinto disco de Bob Marley e The Wailers, e o primeiro a ser lançado pela Island Records UK, “Catch A Fire” recebeu uma nova versão com performances originais e reveladoras das faixas “Slave Driver”, “Get Up, Stand Up” e Stop That Train”, disponíveis no canal Bob Marley, no Youtube. Confira:">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
        id="1"
        photoCover="assets/imgs/img_small_card_001.jpg"
        cardTitle="Reggae dita o ritmo do carnaval de rua de São Luís (MA)">
        </app-small-card>
        <app-small-card
        id="2"
        photoCover="assets/imgs/img_small_card_002.jpg"
        cardTitle="Show da Natiruts em Caxias do Sul é cancelado">
        </app-small-card>
        <app-small-card
        id="3"
        photoCover="assets/imgs/img_small_card_003.jpg"
        cardTitle="Ex-membros do Cidade Negra rebatem acusações de Toni Garrido sobre agressões e outras desavenças">
        </app-small-card>
    </div>

</div>